.no-menu-arrow em.x-btn-arrow { background:transparent !important; padding-right:0px !important; }

noscript p { font-family: sans-serif; padding: 10px; color: #333; }

body > .x-toolbar-layout-ct {
    background-color: #dfe8f6 !important;
    background-image: none !important;
    border-bottom: 1px #9cbfee solid  !important;
    border-left: 1px #9cbfee solid  !important;
    border-right: 1px #9cbfee solid  !important;
    border-top: 0  !important;
}

body > .x-toolbar-layout-ct:first-child {
    border-top: 1px #9cbfee solid  !important;
    border-bottom: 0 !important;
}

.field .x-toolbar-layout-ct {
    background-color: #dfe8f6 !important;
    background-image: none !important;
    border-bottom: 1px #b5b8c8 solid  !important;
    border-left: 1px #b5b8c8 solid  !important;
    border-right: 1px #b5b8c8 solid  !important;
    border-top: 0 !important;
}

.fields .field:first-child .x-toolbar-layout-ct {
    border-top: 1px #b5b8c8 solid  !important;
}

.x-tree-node-expanded img.x-tree-node-icon { background-image:url('../ico/folder-horizontal-open.png') !important; }
.x-tree-node-collapsed img.x-tree-node-icon { background-image:url('../ico/folder-horizontal.png') !important; }

#attributes .x-tree-node-leaf img.x-tree-node-icon  { background-image:url('../ico/table-select-column.png') !important; }
#filters .x-tree-node-leaf img.x-tree-node-icon  { background-image:url('../ico/ui-search-field.png') !important; }

#loading-dialog .loading-indicator { background: url('../img/loading.gif') no-repeat top center; height:20px; position:relative; top: 0px; left:0px; }

.x-form-facet-field { font-size: .95em !important; background: #dfe8f6 !important; }

.item { width: 100% !important;
        border-bottom: 1px #ededed solid !important;
        padding: 10px !important;
        font: normal 11px arial,helvetica,tahoma,sans-serif !important; }
.item .title { font-weight: bold !important; color: #333 !important; }
.item .attribute { color: #666 !important; }
.item-even { background: #fafafa !important; }
.item-selector { width: 100% !important; }
.selected-item { background: #efefef !important; }

.icon-expand-all { background-image: url('../img/expand-all.gif') !important; }
.icon-collapse-all { background-image: url('../img/collapse-all.gif') !important; }

.attribute_icon { background-image: url('../ico/table-select-column.png') !important; }
.filter_icon { background-image: url('../ico/ui-search-field.png') !important; }
.edit_icon { background-image: url('../ico/gear.png') !important; }
.mart_icon { background-image: url('../ico/databases.png') !important; }
.dataset_icon { background-image: url('../ico/database.png') !important; }
.simple_search_icon { background-image: url('../ico/magnifier-left.png') !important; }
.guided_search_icon { background-image: url('../ico/compass.png') !important; }
.advanced_search_icon { background-image: url('../ico/binocular.png') !important; }
.user_search_icon { background-image: url('../ico/user.png') !important; }
.form_icon { background-image: url('../ico/application-form.png') !important; }
.tabular_results_icon { background-image: url('../ico/table.png') !important; }
.itemized_results_icon { background-image: url('../ico/card-address.png') !important; }
.map_results_icon { background-image: url('../ico/map.png') !important; }
.field_icon { background-image: url('../ico/ui-toolbar.png') !important; }
.file_upload_icon { background-image: url('../ico/document-list.png') !important; }
.node_all_icon { background-image: url('../ico/node.png') !important; }
.node_selected_icon { background-image: url('../ico/node-select-child.png') !important; }
.folder_icon { background-image: url('../ico/folder-horizontal.png') !important; }
.folder_open_icon { background-image: url('../ico/folder-horizontal-open.png') !important; }
.add_icon { background-image: url('../ico/plus-circle.png') !important; }
.help_icon { background-image: url('../ico/question.png') !important; }
.submit_icon { background-image: url('../ico/tick.png') !important; }
.save_icon { background-image: url('../ico/disk.png') !important; }

button.moveup_icon { background-image: url('../ico/arrow-090.png') !important; }
button.movedn_icon { background-image: url('../ico/arrow-270.png') !important; }
button.larrow_icon { background-image: url('../ico/arrow-180.png') !important; }
button.larrow_icon { background-image: url('../ico/arrow-180.png') !important; }
button.attribute_icon { background-image: url('../ico/table-select-column.png') !important; }
button.filter_icon { background-image: url('../ico/ui-search-field.png') !important; }
button.field_icon { background-image: url('../ico/ui-toolbar.png') !important; }
button.move_icon { background-image: url('../ico/arrow-move.png') !important; }
button.up_icon { background-image: url('../ico/arrow-090.png') !important; }
button.dn_icon { background-image: url('../ico/arrow-270.png') !important; }
button.close_icon { background-image: url('../ico/cross.png') !important; }
button.cancel_icon { background-image: url('../ico/slash.png') !important; }
button.delete_icon { background-image: url('../ico/minus-circle.png') !important; }
button.file_upload_icon { background-image: url('../ico/document-list.png') !important; }
button.undo_icon { background-image: url('../ico/arrow-circle-315-left.png') !important; }
button.form_icon { background-image: url('../ico/application-form.png') !important; }
button.submit_icon { background-image: url('../ico/tick.png') !important; }
button.biomart_icon { background-image: url('../ico/biomart.png') !important; }
button.favicon_icon { background-image: url('../favicon.ico') !important; }
button.tip_icon { background-image: url('../ico/light-bulb.png') !important; }
button.alert_icon { background-image: url('../ico/exclamation.png') !important; }
button.reset_icon { background-image: url('../ico/cross.png') !important; }
button.view_icon { background-image: url('../ico/application.png') !important; }
button.save_icon { background-image: url('../ico/disk.png') !important; }
button.edit_icon { background-image: url('../ico/gear.png') !important; }
button.add_icon { background-image: url('../ico/plus-circle.png') !important; }
button.help_icon { background-image: url('../ico/question.png') !important; }
button.user_icon { background-image: url('../ico/user.png') !important; }
button.count_icon { background-image: url('../ico/counter.png') !important; }
button.print_icon { background-image: url('../ico/printer.png') !important; }
button.home_icon { background-image: url('../ico/home.png') !important; }
